body {
  font-family: "Poppins", sans-serif;
}
.carousel-item {
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}
.carousel {
  overflow: hidden;
  border-radius: 8px !important;
}

.gradient {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  top: 0;
  bottom: 0;
}

footer {
  background-color: #0d3b66;
  margin-top: 150px;

  p {
    color: #faf0ca;
  }
}

.form-control {
  color: #8d7a7a;
}
