.page-dashboard {
  #page-content-wrapper {
    background: #f5f5fb;
    min-width: 100vw;
  }

  #sidebar-wrapper {
    background-color: #0d3b66;
    margin-top: 60px;
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;

    .sidebar-heading {
      padding: 0.875rem 1.25rem;
      font-size: 1.2rem;
    }
    .list-group {
      width: 15rem;
    }
    .list-group-item-action {
      background-color: #0d3b66;
      color: #faf0ca;
    }
  }

  #wrapper {
    &.toggled {
      #sidebar-wrapper {
        margin-left: 0;
      }
    }
  }

  .navbar-dashboard {
    padding-top: 46px;
    @include media-breakpoint-down(md) {
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: white;
    }
    .navbar-nav > .active > a {
      color: #ee964b;
    }
    .nav-item {
      .nav-link {
        color: #0c0d36;
        padding: 0.8rem 0.8rem;
        &:hover {
          color: #ee964b;
        }
        @include media-breakpoint-up(lg) {
          margin-left: 10px;
          margin-right: 10px;
        }
        @include media-breakpoint-up(md) {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }

    .login-btn {
      @include media-breakpoint-up(lg) {
        padding: 0.8rem 0.8rem;
        justify-self: center;
        position: absolute;
        right: 15px;
      }
    }
    .btn-primary {
      border-radius: 6px;
      background-color: #ee964b;
      color: #f4f4f4;
    }
    .profile-picture {
      max-height: 55px;
    }

    .cart-badge {
      display: inline-block;
      min-width: 2em; /* em unit */
      padding: 0.3em; /* em unit */
      border-radius: 50%;
      font-size: 10px;
      text-align: center;
      background: #29a867;
      color: #fefefe;
      margin-left: -10px;
    }
    .cart-logo {
      margin-top: 0.8rem;
    }
  }

  .list-group-item {
    border: 0;
    font-size: 16px;
    color: #ee964b;

    &.active {
      background: linear-gradient(
        270deg,
        rgb(159 90 78 / 32%) 2%,
        rgba(255, 255, 255, 0) 100%
      );
      border-right: 4px solid #ff7158;
      color: #ee964b;
    }
  }

  @include media-breakpoint-up(md) {
    #sidebar-wrapper {
      margin-left: 0;
      margin-top: 0px;
    }

    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }

    #wrapper {
      &.toggled {
        #sidebar-wrapper {
          margin-left: -15rem;
        }
      }
    }
  }

  .section-content {
    margin-top: 100px;

    @include media-breakpoint-up(md) {
      margin-top: 20px;
      margin-left: 20px;
    }

    .dashboard-title {
      font-weight: normal;
      font-size: 24px;
      color: #0c0d36;
    }
    .dashboard-subtitle {
      font-weight: 300;
      font-size: 16px;
      color: #9191a9;
    }

    .product-title {
      font-size: 14px;
      line-height: 25px;
      color: #979797;
    }
    .product-subtitle {
      font-size: 18px;
      line-height: 30px;
      color: #0c0d36;
      margin-bottom: 20px;
    }

    h5 {
      font-size: 18px;
      line-height: 27px;
      color: #0c0d36;
    }

    .nav-pills {
      .nav-link {
        font-size: 18px;
        color: #9191a9;
        border-radius: 0;
        &.active {
          color: #0c0d36;
          font-weight: bold;
          border-bottom: 2px solid #0c0d36;
          background: none;
        }
      }
    }

    .gallery-container {
      .delete-gallery {
        display: block;
        position: absolute;
        top: -10px;
        right: 0;
      }
    }
  }
}
