.store-breadcrumbs {
  .breadcrumb {
    background: transparent;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 5px;
    margin-left: 3rem;
  }
  .breadcrumb-item > a {
    color: #979797;
    font-weight: 300;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .breadcrumb-item.active {
    font-weight: 500;
    color: #0c0d36;
  }
}
