.component-categories {
  background: #0d3b66;
  padding: 30px 30px 10px 30px;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;

  &:hover {
    transform: scale(1.05);
    text-decoration: none;
  }

  .categories-text {
    margin-top: 12px;
    color: #faf0ca;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
